@import '../../../../styles.scss';

.back-btn {
  color: white;
  text-transform: capitalize;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.popup-page-screen {
  .banner {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #000000b8;
    // for center vertical
    display: flex;
    align-items: center;
    .content {
      text-align: center;
      h1 {
        color: white;
        font-size: 34px;
        font-weight: 600;
        line-height: 1.5;
        @include respond(mobile){
          font-size: 20px;
        }
      }
      form {
        padding-top: 12%;
        .receive-btn {
          padding-top: 35px;
          @include respond(mobile){
            padding-top: 8px;
          }
        }
        label {
          font-size: 25px;
          padding-bottom: 10px;
          color: white;
          float: left;
          font-weight: 500;
          @include respond(mobile){
            font-size: 18px;
            padding-bottom: 3px;
          }
        }
        .choose-question {
          padding: 12px 0 20px 0;
          text-align: left;
          p {
            font-size: 20px;
            color: white;
            padding-bottom: 5px
          }
          .form-check {
            label {
              &.form-check-label {
                font-size: 20px;
                color: white;
                padding-left: 8px;
                padding-bottom: 0px;
                font-weight: 100;
              }
            }
          }
        }
      }
    }
  }
}

.loading {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: revert;
  background-blend-mode: soft-light;
  background-color: #000000b8;
  // for center vertical
  display: flex;
  align-items: center;
  @include respond(mobile){
    background-position: center;
    padding-left: 15px;
  }
  .load-icon {
    text-align: center;
    background-blend-mode: soft-light;
    background-color: #ffffffa6;
    border-radius: 20px;
    padding: 35px 20px;
    @include respond(mobile){
      padding: 20px;
    }
    img {
      width: 200px;
      height: auto;
      object-fit: cover;
      object-position: center;
      @include respond(mobile){
        width: 150px;
      }
    }
    .gif {
      padding-top: 15%;
      img {
        width: 100%;
        height: 48px;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
        @include respond(mobile){
          height: 42px;
        }
      }
    }
  }

}
