@import '../../../../styles.scss';

.dashboard-screen {
  padding: 28px 0;
  .user-id {
    padding-bottom: 25px;
    h5 {
      float: right;
      font-size: 21px;
      font-weight: 600;
      color: black;
    }
  }
  .wallet {
    width: 100%;
    height: 250px;
    border-radius: 6px;
    padding: 0 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #000000b8;
    // for center vertical
    display: flex;
    align-items: center;
    .balance {
      h3 {
        color: white;
        font-size: 25px;
        font-weight: 600;
      }
      p {
        color: white;
        font-size: 19px;
        font-weight: 500;
        padding-top: 15px;
      }
    }
    .cash-btn {
      padding-top: 40px;
      text-align: center;
    }
  }
  .diamond-section {
    padding-top: 18px;
    .card-body {
      text-align: center;
      img {
        width: 150px;
        height: auto;
        text-align: center;
        object-fit: cover;
        object-position: center;
      }
      p {
        color: #0091ea;
        font-size: 30px;
        font-weight: 500;
      }
      .claim-btn {
        padding-top: 22px;
      }
    }
  }
}
