@import '../../../../styles.scss';

.back-btn {
  color: white;
  text-transform: capitalize;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.popup-screen {
  .banner {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: revert;
    background-blend-mode: soft-light;
    background-color: #000000b8;
    // for center vertical
    display: flex;
    align-items: center;
    .content {
      text-align: center;
      h1 {
        color: white;
        font-size: 45px;
        font-weight: 600;
        @include respond(mobile){
          font-size: 30px;
        }
      }
      .master {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid white;
        border-radius: 6px;
        background: white;
        padding: 2px 22px;
        margin-top: 18%;
        .head {
          h6 {
            color: black;
            font-size: 32px;
            font-weight: 600;
          }
        }
        .image {
          img {
            cursor: pointer;
            &.mastercard {
              width: 90px;
              height: auto;
              padding-right: 10px;
              object-fit: cover;
              object-position: center;
            }
            &.visacard {
              width: 95px;
              height: auto;
              padding-left: 10px;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
      .visa {
        cursor: pointer;
        align-items: center;
        border: 1px solid white;
        border-radius: 6px;
        background: white;
        padding: 23px 22px;
        margin-top: 26px;
        .head {
          h6 {
            color: black;
            font-size: 32px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.loading {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: revert;
  background-blend-mode: soft-light;
  background-color: #000000b8;
  // for center vertical
  display: flex;
  align-items: center;
  .load-icon {
    text-align: center;
    background-blend-mode: soft-light;
    background-color: #ffffffa6;
    border-radius: 20px;
    padding: 35px 20px;
    img {
      width: 200px;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
    .gif {
      padding-top: 15%;
      img {
        width: 100%;
        height: 40px;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.success-screen {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: revert;
  background-blend-mode: soft-light;
  background-color: #00000045;
  // for center vertical
  display: flex;
  align-items: center;
  .content {
    text-align: center;
    .gift-card {
      padding-bottom: 20px;
      img {
        width: 270px;
        height: 270px;
        object-fit: cover;
        object-position: center;
      }
    }
    .done {
      background-color: purple;
      border: 1px solid purple;
      padding: 6px;
      border-radius: 50px;
      margin-top: 30px;
      p {
        color: white;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }
}
