@import '../../../../styles.scss';

.back-btn {
  color: white;
  text-transform: capitalize;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.signup-screen {
  .banner {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #000000b8;
    // for center vertical
    display: flex;
    align-items: center;
    .content {
      text-align: center;
      h1 {
        color: white;
        font-size: 52px;
        font-weight: 600;
        @include respond(mobile){
          font-size: 30px;
        }
      }
      form {
        padding-top: 12%;
        .signup-btn {
          padding-top: 35px;
          @include respond(mobile){
            padding-top: 8px;
          }
        }
        label {
          font-size: 22px;
          padding-bottom: 10px;
          color: white;
          float: left;
          font-weight: 500;
          @include respond(mobile){
            font-size: 18px;
            padding-bottom: 3px;
          }
        }
      }
    }
  }
}
