@import '../../../../styles.scss';

.signup-screen {
  background: #cccc;
  .banner {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    background-blend-mode: soft-light;
    background-color: #0000008a;
    // for center vertical
    display: flex;
    align-items: center;
    @include respond(mobile){
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-blend-mode: soft-light;
      background-color: #0000008a;
      padding: 45px 0;
      // for center vertical
      display: flex;
      align-items: center;
    }
    .left-side {
      .input-sec {
        h1 {
          text-align: center;
          color: white;
          font-size: 50px;
          font-weight: 600;
          @include respond(mobile){
            font-size: 34px;
          }
        }
        form {
          padding-top: 25%;
          @include respond(mobile) {
            padding-top: 15px;
          }
        }
        .diamond-count {
          position: absolute;
          bottom: 20px;
          @include respond(mobile){
            text-align: center;
            position: relative;
            top: 25px;
          }
          p {
            font-size: 28px;
            font-weight: 600;
            color: white;
            span {
              font-size: 28px;
              font-weight: 600;
              color: white;
              padding: 0 20px 0 8px;
            }
            img {
              width: 28px;
              height: auto;
              object-fit: cover;
              object-position: center;
              position: absolute;
              bottom: 4px;
            }
          }
        }
      }
      .count-down {
        position: absolute;
        bottom: 40px;
        width: 100%;
        text-align: center;
        h4 {
          color: white;
          font-size: 24px;
          font-weight: 500;
        }
        .countdown {
          justify-content: center;
          display: flex;
          padding: 15px 0 0 0;
        }
      }
    }
    .right-side {
      text-align: center;
      @include respond(mobile) {
        padding: 50px 0 0 0;
      }
      img {
        width: 450px;
        height: 450px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
        @include respond(mobile) {
          width: 290px;
          height: 290px;
        }
      }
    }
  }

  .slider {
    padding-top: 45px;
    .carousel-item {
      img {
        width: 100%;
        height: 60vh;
        object-fit: fill;
        object-position: center;
        border-radius: 10px;
        @include respond(mobile) {
          width: 100%;
          height: 36vh;
          object-fit: fill;
          object-position: center;
          border-radius: 10px;
        }
      }
    }
  }

  .features {
    padding: 30px 0 20px 0;
    h2 {
      &.heading {
        color: dimgrey;
        font-size: 28px;
        font-weight: 600;
      }
    }
    .card {
      padding: 16px;
      .inner {
        .icon {
          padding-right: 15px;
          i {
            font-size: 30px;
            &.fa-credit-card {
              color: lightblue;
            }
            &.fa-atom {
              color: brown;
            }
            &.fa-staylinked {
              color: forestgreen;
            }
            &.fa-link {
              color: orangered;
            }
            &.fa-squarespace {
              color: maroon;
            }
            &.fa-unity {
              color: darkorange;
            }
          }
        }
        .content {
          h1 {
            font-size: 18px;
            font-weight: 600;
            color: black;
          }
          p {
            font-size: 15px;
            padding-top: 7px;
            color: black;
          }
        }
      }
    }
  }
}
