<div class="signup-screen">
  <div class="banner" style="background-image: url(assets/img/1.jpg);">
    <div class="container">
      <div class="content">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-6">
            <h1>Your Head Line</h1>
            <form>
              <div class="form-group">
                <label>Insert your ID and Username </label>
                <input type="text" class="form-control" placeholder="Insert ID">
              </div>
              <div class="signup-btn">
                <button class="btn btn-primary btn-lg">Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
