@import '../../../../styles.scss';

.homepage-screen {
  .banner {
    width: 100%;
    height: 450px;
    border-radius: 6px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #000000b8;
    .content {
      text-align: center;
      h1 {
        color: white;
        padding-top: 10px;
        font-size: 42px;
        font-weight: 500;
        @include respond(mobile){
          font-size: 33px;
        }
      }
      form {
        padding-top: 20px;
        label {
          font-size: 22px;
          padding-bottom: 5px;
          color: white;
          float: left;
          font-weight: 500;
          @include respond(mobile){
            font-size: 18px;
            padding-bottom: 3px;
          }
        }
      }
    }
    .count-down {
      position: absolute;
      bottom: 30px;
      width: 100%;
      text-align: center;
      h4 {
        color: white;
        font-size: 24px;
        font-weight: 500;
      }
      .countdown {
        justify-content: center;
        display: flex;
        padding: 15px 0 0 0;
      }
    }
  }

  .game-cards {
    padding: 45px 0;
    .heading {
      h1 {
        font-size: 25px;
        color: black;
      }
    }
    .game-img {
      a {
        cursor: pointer;
        img {
          width: 100%;
          height: 300px;
          border-radius: 6px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
